.header{
	width: 100%;
	display: flex;
	padding: 0 72px;
	justify-content: space-between;
	align-items: center;
	position: relative;
	&::before{
		content: "";
		position: absolute;
		width: 900px;
		height: 100%;
		right: 0;
		top:0;
		background: rgb(24, 24, 35);
		z-index: 0;
	}
}
.menu{
	&__list
	{
		display: flex;
		flex-direction: row;
		color: $text;
		list-style: none;
		position: relative;
		z-index: 1;
	}
	&__link
	{
		padding: 32px 24px;
	}
}
.link{
	color: $text;
	text-decoration: none;
}
.active
{
background: rgb(82, 33, 230);
}

.slider
{
	padding-top: 80px;
}