.work
{
	display: flex;
	min-height: 715px;
	padding-left: 72px;
	flex-direction: column;
}
.title
{
	color: $text;
	margin-top: 120px;
	&__subtitle
	{
	padding-top: 8px;
	color: rgb(132, 145, 160);
	font-family: 'Sen';
	font-size: 16px;
	font-weight: 700;
	line-height: 150%;
	letter-spacing: 0%;
	}
	&__primary-title
	{
		width: 690px;
	font-family: 'Sen';
	font-size: 55px;
	font-weight: 700;
	line-height: 66px;
	}
}
.listing
{
	width: 100%;
	padding-top: 40px;
	&__work
	{
		display: flex;
		list-style: none;
	}
}
.item
{
	&__number
	{
	color:rgb(132, 145, 160);
	font-family: 'Sen';
	font-size: 117px;
	font-weight: 400;
	line-height: 141px;
	}
	&__title
	{
	color:$text ;
	font-size: 24px;
	font-weight: 700;
	line-height: 150%;
	}
	&__subtitle
	{
		color: rgb(132, 145, 160);
		font-size: 16px;
		font-weight: 400;
		line-height: 150%;
		letter-spacing: 0%;
	}
}
.color-g{color: rgb(60, 199, 78);}
.color-f{color:rgb(96, 155, 255);}
.color-d{color:rgb(233, 93, 144);}