 @import 'var';

 *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

@media (min-width:1440px){
	.page
	{
		max-width: 1440px;
		display: flex;
		background-color: $base;
		margin: 0 auto;
		font-family: 'Sen';
		flex-direction: column;
	}
	@import './bloks/header';
	@import './bloks/main/main';
}

